{% extends "base.html" %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
<h1>{{ title }}</h1>

<form method="POST" enctype="multipart/form-data">
    {{ form.hidden_tag() }}

    <div>
        {{ form.first_name.label }}
        {{ form.first_name }}
    </div>

    <div>
        {{ form.last_name.label }}
        {{ form.last_name }}
    </div>

    <div>
        {{ form.email.label }}
        {{ form.email }}
    </div>

    <div>
        {{ form.role.label }}
        {{ form.role }}
    </div>

    <div>
        <label for="profile_pic">Profile Picture</label><br>
        
        {% if user.profile_pic %}
            <!-- Show current profile picture -->
            <img src="{{ url_for('user.get_profile_pic', user_id=user.id) }}" alt="Profile Picture" style="max-width: 200px;"><br>
            
            <!-- Button to delete profile picture -->
            <!-- <form method="POST" action="{{ url_for('user.delete_profile_pic', user_id=user.id) }}" style="display: inline;">
                <input type="submit" value="Delete Profile Picture">
            </form><br> -->
        
        {% else %}
            <!-- Show only "Choose File" when no picture is configured -->
            {{ form.profile_pic.label }}
            {{ form.profile_pic }}
        
        {% endif %}
    </div>
    <div>
        <label>Group Membership</label><br>
        {% for group in all_groups %}
            <input type="checkbox" name="groups" value="{{ group.id }}"
                   {% if group.id in user_group_ids %}checked{% endif %}>
            {{ group.name }}<br>
        {% endfor %}
    </div>

    <input type="submit" value="Submit">
</form>
{% endblock %}

